<div class="card border-success mb-3">
    <!--TODO: componente circulo vectorial relleno con color estado-->
    <div class="card-header">{{procesoTarjeta.nombre}}
        <svg width="14" height="13">
            <circle cx="6" cy="6" r="5" stroke="black" stroke-width="1" [attr.fill]="estadoTarjeta" />
            {{procesoTarjeta.estado}}
        </svg>
    </div>
    <div class="card-body">
            <h5 class="card-title">Fecha inicio: {{procesoTarjeta.fechaInicio}}</h5>
            <h5 class="card-title">Fecha t&eacute;rmino: {{procesoTarjeta.fechaTermino}}</h5>
            <div>
                <i class="fas fa-trash"></i>
                <button id="kill{{procesoTarjeta.idProceso}}"></button>
                <button id="edit{{procesoTarjeta.idProceso}}"></button>
                <button id="revisar{{procesoTarjeta.idProceso}}"></button>
            </div>
    </div>
    
</div>