<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->

  <!-- Custom styles for this page -->

</head>

<body id="page-top">

  <div id="wrapper">

   
   <!-- <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

       
          
        <div class="container-fluid">-->

         

          <!-- DataTales Example -->
    <div class="flot-container">
    <div class="main">
      <div class="container-fluid">

          <div class="card shadow mb-4">
             
              
            <div align="right">
              <table>
                <tr>
                  <td>
                    <h1 class="h3 mb-2 text-gray-800">Usuarios</h1> 
                  </td>
                  <td></td>
                  <td>
                    <button class="btn btn-outline-primary" id='add-button' (click)="AbrirModal(nombreModal,'Crear Usuario','','','',0)"></button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="card-header py-3">
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Apellido Paterno</th>
                      <th>Apellido Materno</th>
                      <th>Foto</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <tr *ngFor = 'let user of users ; let i = index '>
                      <td>{{i+1}}</td>
                      <td>{{user.nombre}}</td>
                      <td>{{user.apellido_paterno}}</td>
                      <td>{{user.apellido_materno}}</td>
                      <td><img class="img-profile rounded-circle img-thumb"  [src]="user.imagen" ></td>
                      <td><button class="btn btn-outline-success" id='update-button' (click)="AbrirModal(
                                                                                                nombreModal,
                                                                                                'Modificar Usuario',
                                                                                                user.nombre,
                                                                                                user.apellido_materno,
                                                                                                user.apellido_paterno,
                                                                                                user.id)"
                      ></button></td>
                      <td><button class="btn btn-outline-danger" id="delete-button" (click)='DeleteUser(user.id)'></button></td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>


    </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<ng-template #nombreModal let-c="close" let-d="dismiss" class="animated fadeIn">
  
      <div class="modal-header"> {{nombre_modal}} 
        <button type="button" class="close" (click)="c('')" id="button-close"></button>
      </div>
      <div class="modal-dialog modal-lg" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Nombre</label>
                  <input type="text" 
                        class="form-control" 
                        [(ngModel)] = 'user.nombre'
                        name="nombre"
                        placeholder="Nombre">
                </div>

                <div class="form-group col-md-6">
                  <label for="inputPassword4">Apellito Materno</label>
                  <input type="text"   
                          class="form-control"  
                          [(ngModel)] = 'user.apmaterno'
                          name="appmaterno"   
                          placeholder="Apellido Materno">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Apellido Paterno</label>
                  <input type="text" 
                        class="form-control" 
                        [(ngModel)] = 'user.appaterno'
                        name="appaterno" 
                        placeholder="Apellido Paterno">
                </div>

              </div>
              <div class="form-row">
                <div class="form-group col-md-10">
                  <label for="exampleFormControlFile1">Imagen</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              </div>
              <button type="submit" class="btn btn-primary" id='save-button' align='center'></button>
            </form>
          </div>
      </div>
</ng-template>



</body>

</html>
