
<!--<div class="MaintainerContent">-->

  <div class="card shadow mb-4">
    <div align="right">
      <table>
        <tr>
          <td align="left">
            <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>
          </td>
          <td></td>
          <td >
            <button>
              <img *ngIf ='idRolUser ==0'
              (click)="AgregarUsuario(content)"  src="https://img.icons8.com/dotty/40/000000/add-administrator.png">
            </button>
          </td>
        </tr>
      </table>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table"  width="126%" cellspacing="0">
          <thead class='thead-light'>
            <tr>
              <th scope="col" >#</th>
              <th scope="col" >Nombre</th>
              <th scope="col" >Apellido Paterno</th>
              <th scope="col" >Apellido Materno</th>
              <th scope="col" >Foto</th>
              <th scope="col" >Estado</th>
              <th *ngIf ='idRolUser ==0'></th>
              <th *ngIf ='idRolUser ==0'></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of users ; let i = index '>
              <td scope='row'>{{i+1}}</td>
              <td>{{user.nombre}}</td>
              <td>{{user.apellido_paterno}}</td>
              <td>{{user.apellido_materno}}</td>
              <td><img class="img-profile rounded-circle img-thumb" [src]="user.imagen"></td>
              <td>{{user.estado_escrito}}</td>
              <td *ngIf ='idRolUser ==0'>
                <button>
                  <img (click)="ModificarUsuario(modify,user)" src="https://img.icons8.com/material-sharp/24/000000/edit-file.png">
                </button>
              </td>
              <td *ngIf ='idRolUser ==0'>
                <button>
                  <img src="https://img.icons8.com/material-rounded/24/000000/delete-forever.png" (click)='DeleteUser(user.id)'>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>



<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Agregar Usuario</h4>
    &nbsp;&nbsp;&nbsp; 
    <li class="nav-item dropdown no-arrow">
        <img class="img-profile rounded-circle img-thumb"  [src]="user_image" >
    </li>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="user" (ngSubmit)='AddUser(f)'
        #f = 'ngForm'>
        <div class="form-row">
          <div class="form-group col-md-6">
            <mat-form-field>
             <!-- <span *ngIf="f.submitted && f.controls['nombre'].errors" 
                            class="text-danger animated fadeIn">El nombre es obligatorio</span>
             <label for="nombre">Nombre</label>
                  <input type="text" 
                    class="form-control" 
                    [(ngModel)]='user.nombre'
                    name="nombre" 
                    required
                    placeholder="Nombre">-->

                  <input matInput  
                    [(ngModel)]='user.nombre'
                    name="nombre" 
                    required
                    placeholder="Nombre">
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            
            <mat-form-field>
              <!-- <span *ngIf="f.submitted && f.controls['email'].errors" 
                        class="text-danger animated fadeIn">El email es obligatorio <br></span>
             <label for="nombre">Email</label>
                  <input 
                    [(ngModel)] ='user.email'
                    type="email" 
                    class="form-control" 
                    email
                    name="email" 
                    required
                    placeholder="Correo">-->

                  <input matInput  
                    [(ngModel)] ='user.email'
                    type="email" 
                    email
                    name="email" 
                    required
                    placeholder="Correo">
            </mat-form-field>       
          </div>
          
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
           
           
            <mat-form-field>
              <!-- <span *ngIf="f.submitted && f.controls['appaterno'].errors" 
                        class="text-danger animated fadeIn">El Apellido Paterno es obligatorio <br></span>
              <label for="appaterno">Apellido Paterno</label>
            <input type="text" 
                  class="form-control" 
                  [(ngModel)]='user.appaterno'
                  name="appaterno"
                  required
                  placeholder="Apellido Paterno">-->

                  <input matInput  
                    [(ngModel)]='user.appaterno'
                    name="appaterno"
                    required
                    placeholder="Apellido Paterno">
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field>
             <!-- <span *ngIf="f.submitted && f.controls['apmaterno'].errors" 
                        class="text-danger animated fadeIn">El Apellido Materno es obligatorio <br></span>
              <label for="appmaterno">Apellito Materno</label>
            <input type="text" 
                    class="form-control" 
                    [(ngModel)]='user.apmaterno'
                    name="apmaterno"
                    required
                    placeholder="Apellido Materno">-->

                  <input matInput  
                    [(ngModel)]='user.apmaterno'
                    name="apmaterno"
                    required
                    placeholder="Apellido Materno">
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              <label>Rol: </label><br>
              <select  style="width:200px;border:1px solid #04467E;font-size:18px" #selectRole (change)='setIdRole(selectRole.value)'>
                  <option value="idRole">--ROLES--</option>
                  <option *ngFor="let roles of Roles" value='{{roles.id}}'>
                      {{roles.nombre}}
                  </option>
              </select>
          </div>
          <div class="form-group col-md-6">
              <label>Unidad: </label><br>
             
              <select style="width:200px;border:1px solid #04467E;font-size:18px" #selectUnity  (change)='setIdUnity(selectUnity.value)'>
                  <option value="-1">--UNIDADES--</option>
                  <option *ngFor="let unity of Unity" value={{unity.id}}>
                      {{unity.nombre}}
                  </option>
              </select>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-10">
            <label for="exampleFormControlFile1" class='subir' >Imagen</label>
            <input (change)='setPhoto($event.target.files[0])' type="file" class="form-control-file" id="userPhoto">
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-outline-secondary"  
              align='center'>Agregar</button>
          <button type="button"  class="btn btn-outline-secondary"
            (click)="modal.close('Ok click')">Cancelar</button>
          
        </div>
        
      </form>
  </div>
  
</ng-template>


<ng-template #modify let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modificar Usuario</h4>
    &nbsp; 
    <li class="nav-item dropdown no-arrow">
        <img class="img-profile rounded-circle img-thumb"  [src]="user_image" >
    </li>
     <svg width="14" height="13">
            <circle cx="6" cy="6" r="5" stroke="black" stroke-width="1" [attr.fill]="estadoTarjeta" />
        </svg>
            
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="user" (ngSubmit)='ModUser(f)'
        #f = 'ngForm'>

        <div class="form-row">
          <div class="form-group col-md-6">
            <mat-form-field>
             <!-- <span *ngIf="f.submitted && f.controls['nombre'].errors" 
                            class="text-danger animated fadeIn">El nombre es obligatorio</span>
             <label for="nombre">Nombre</label>
                  <input type="text" 
                    class="form-control" 
                    [(ngModel)]='user.nombre'
                    name="nombre" 
                    required
                    placeholder="Nombre">-->

                  <input matInput  
                    [(ngModel)]='user.nombre'
                    name="nombre" 
                    required
                    placeholder="Nombre">
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            
            <mat-form-field>
              <!-- <span *ngIf="f.submitted && f.controls['email'].errors" 
                        class="text-danger animated fadeIn">El email es obligatorio <br></span>
            label for="nombre">Email</label>
                  <input 
                    [(ngModel)] ='user.email'
                    type="email" 
                    class="form-control" 
                    email
                    name="email" 
                    required
                    placeholder="Correo">-->

                  <input matInput  
                    [(ngModel)] ='user.email'
                    type="email" 
                    email
                    name="email" 
                    required
                    placeholder="Correo">
            </mat-form-field>       
          </div>
          
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
           
           
            <mat-form-field>
              <!-- <span *ngIf="f.submitted && f.controls['appaterno'].errors" 
                        class="text-danger animated fadeIn">El Apellido Paterno es obligatorio <br></span>
              <label for="appaterno">Apellido Paterno</label>
            <input type="text" 
                  class="form-control" 
                  [(ngModel)]='user.appaterno'
                  name="appaterno"
                  required
                  placeholder="Apellido Paterno">-->

                  <input matInput  
                    [(ngModel)]='user.appaterno'
                    name="appaterno"
                    required
                    placeholder="Apellido Paterno">
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field>
              <!--<span *ngIf="f.submitted && f.controls['apmaterno'].errors" 
                        class="text-danger animated fadeIn">El Apellido Materno es obligatorio <br></span>
            <label for="appmaterno">Apellito Materno</label>
            <input type="text" 
                    class="form-control" 
                    [(ngModel)]='user.apmaterno'
                    name="apmaterno"
                    required
                    placeholder="Apellido Materno">-->

                  <input matInput  
                    [(ngModel)]='user.apmaterno'
                    name="apmaterno"
                    required
                    placeholder="Apellido Materno">
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">

              <label>Rol: </label><br>
              <select style="width:200px;border:1px solid #04467E;font-size:18px" #selectRole (change)='setIdRole(selectRole.value)'>
                  <option value="-1">--ROLES--</option>
                  <option *ngFor="let roles of Roles" value='{{roles.id}}'>
                      {{roles.nombre}}
                  </option>
              </select>
          </div>
          <div class="form-group col-md-6">
                <label>Unidad: </label><br>
                <select style="width:200px;border:1px solid #04467E;font-size:18px" #selectUnity (change)='setIdUnity(selectUnity.value)'>
                    <option value="-1">--UNIDADES--</option>
                    <option *ngFor="let unity of Unity" value={{unity.id}}>
                        {{unity.nombre}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row">
          
          <div class="form-group col-md-10">
            <label for="exampleFormControlFile1" >Imagen</label>
            <input (change)='setPhoto($event.target.files[0])' type="file" class="form-control-file" id="userPhoto">
          </div>
        </div>

        <div class="modal-footer">
          <button  type= 'button' *ngIf='activateUserButton'class="btn btn-outline-secondary"  
              align='center'
              (click)="activateUser()">Activar</button>
          <button class="btn btn-outline-secondary"  
              align='center'>Modificar</button>
          <button type="button"  class="btn btn-outline-secondary"
            (click)="modal.close('Ok click')">Cancelar</button>
          
        </div>
        
      </form>
  </div>
  
</ng-template>