
<!--<div class="desktop">
    <div class="card">
        <div class="card-body" style='width:100%; height:60px;'>
    
            <div class="loremipsum">
                Lorem ipsum
            </div>
            <input class='' type='checkbox'>

            <div class="loremipsumdolorsi">
                <div style='width:100%; height:60px;'>
                    <ngx-simplebar [options]="options">
                        
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor, augue in egestas pellentesque, nisl lorem pretium leo, ut vehicula quam nisi nec eros. Duis lacus magna, tincidunt pellentesque est eu, pretium aliquam massa. In et diam condimentum, auctor tortor at, accumsan neque. Nam sit amet convallis velit. Ut posuere pellentesque purus gravida hendrerit. Pellentesque fermentum risus id blandit placerat. Proin hendrerit lorem sed quam scelerisque condimentum. Vivamus venenatis sapien nec libero porta efficitur sed a arcu.
                    </ngx-simplebar> 
                </div>
            </div>
    
        </div>
    </div>
</div>-->

<mat-tab-group>
  <mat-tab label="Usuarios"> <app-usuarios></app-usuarios> </mat-tab>
  <mat-tab label="Roles"> <app-roles></app-roles> </mat-tab>
  <mat-tab label="Empresas"> <app-empresas></app-empresas> </mat-tab>
</mat-tab-group>