<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="flot-container">
  <div class="main">
    <div class="container-fluid">

      <div class="card columns">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Titulo</div>
          <div class="card-body text-success">
            <h5 class="card-title">Noticias Exito - Propias / General</h5>
            <p class="card-text">Información</p>
          </div>
          
        </div>

        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Titulo</div>
          <div class="card-body text-success">
            <h5 class="card-title">Noticias Exito - Propias / General</h5>
            <p class="card-text">Información</p>
          </div>
          
        </div>

        
      </div>
      <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Titulo</div>
        <div class="card-body text-danger">
          <h5 class="card-title">Notificas Atraso - Propias / General</h5>
          <p class="card-text">Información</p>
        </div>
      </div>
      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Titulo</div>
        <div class="card-body text-warning">
          <h5 class="card-title">Noticias de Alerta</h5>
          <p class="card-text">Información</p>
        </div>
      </div>

    </div>

  </div>
</div>